name: Auto Deploy to VPS

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: SSH into VPS and deploy
              uses: appleboy/ssh-action@v0.1.10
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USER }}
                  key: ${{ secrets.VPS_SSH_KEY }}
                  port: 22
                  script: |
                      cd Haircut-Booking-Backend
                      git fetch origin main
                      git reset --hard origin/main
                      npm install
                      pm2 restart NMCNPM
