name: Auto Deploy to VPS

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: SSH and Deploy to VPS
              uses: appleboy/ssh-action@v0.1.10
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USER }}
                  key: ${{ secrets.VPS_SSH_KEY }}
                  port: 22
                  script: |
                      export NVM_DIR="$HOME/.nvm"
                      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
                      export PATH=$NVM_DIR/versions/node/v20.19.4/bin:$PATH

                      cd Haircut-Booking-Backend
                      git fetch origin main
                      git reset --hard origin/main
                      npm install
                      pm2 restart NMCNPM
